* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p,small,span {
  line-height: 1.8em;
}
h1 {
  line-height: 1.4em;
}

h3 {
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2em;
}
h2,small {
  color: #B3B4B5;
}
.container {
  max-width: 1400px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  justify-content: space-around;
}
.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.img-logo{
  width:200px;
}
.hero-banner {
  position: relative;
  height: 70vh;
  background: url('assets/images/pexels-photo.jpeg') no-repeat center center;
  background-size: cover;
  overflow-x: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(46, 125, 50, 0.7);


 /* Change this to your desired color and opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  transform: skewX(-10deg);
  transform-origin: bottom right;
}
.overlay-content {
  text-align: center;
}
.investment, .section {
  text-align: center;
  margin-bottom: 40px;
}
.investment h1 {
  color: #007c3e;
  font-weight: 400;
  font-size:35px;
  letter-spacing:1px;
}
.investment hr{
  border-bottom: 2px solid #007c3e;
  width:10%;
}
.investment p {
  font-size:16px;
  text-align: justify;
  line-height: 30px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.container-citi {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.citi-header {
  text-align: center;
  color: #007c3e;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
}
.container-citi hr{
  border-bottom: 2px solid #007c3e;
  width:10%;
}
.section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.section div {
  width: 48%;
}
.section p {
  line-height: 1.6;
  text-align: justify;
  margin-right:30px;
}
.link {
  color: #007a3d;
  text-decoration: none;
  text-align: justify;
}
.section h3{
  color: #007c3e;
  text-align: left;
  font-weight: 400;
  font-size:25px;
}
.wk-desk-3 {
  width: 25%;
}
.section h1{
  color: #007c3e;
  text-align: left;
  font-weight: 400;
  font-size:25px;
}
.Home-Loans {
  background-color: #e6f4f1;
  padding: 0px;
  margin: 20px;
  border-radius: 5px;
}
.Home-Loans-header {
  background-color: #007c3e;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  letter-spacing:0.5px;
}
.Home-Loans-content {
  padding: 20px;
  font-size: 16px;
  color: #333;
}
.responsive-cell-block {
  min-height: 75px;
}
.citi-content{
  border-right:1px solid #999;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}
.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}
.card-container {
  width: 250px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}
.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 17px;
  color:#0abf55;
}
.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 17px;
  color:#0abf55;
}
.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  line-height: 30px;
}
.footer {
  padding: 10px;
  margin-bottom:20px;
}
.social-icons {
  float: left;
}
.social-icons img {
  width:40px ;
  height: auto;
  margin-right:10px ;
}
.footer-line{
  border:1px solid #007c3e;
}
.footer-text {
  float: right;
  text-align:justify;
}
.footer-text p {
  color: #333;
}
.footer-text a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
}
.footer-link{
  text-decoration: underline!important;
}
